// Photo Grid
.photo-grid {
  height: 100%;
  > * {
    > a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      text-decoration: none;
      > img {
        width: 100%;
      }

      > p {
        position: absolute;
        bottom: 1vh;
        right: 1vw;
        color: white;
        font-family: @headings-font-family;
        font-size: 12vw;
        text-shadow: 3px 0px 2px #000;
      }
    }
  }
  > .third {
    width: 100%;
    height: 52vh;
    max-height: 180px;
    float: left;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid black;
  }

  @media (min-width: @screen-sm-min) {
    > .third {
      width: 33.33333333%;
      height: 50vh;
      max-height: 100%;
      > a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        text-decoration: none;
        background-color: @transparent-default-active-bg;
        &:hover {
          background-color: @brand-primary-active;
        }
        > img {
          width: 100%;
        }

        > p {
          position: absolute;
          bottom: 1vh;
          right: 1vw;
          color: white;
          font-family: @headings-font-family;
          font-size: 3.5vw;
          text-shadow: 3px 0px 2px #000;
        }
      }
    }
  }

}
